body {
  color: #5A5959;
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/33942639_820921691436613_1491654322428051456_n.jpg?_nc_cat=108&_nc_ht=scontent-cdt1-1.xx&oh=aacc251a9fbfde152f7a165cdbd1d446&oe=5C858222&dl=1, https://www.facebook.com/");
  background-size: cover;
  background-repeat: no-repeat;
}


h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #59609A;
}

h2, h3 {
  font-weight: 300;
}

a {
  color: #59609A;
  text-decoration: none;
  opacity: 1;
}

a:hover {
  color: #B73535;
}

.box-white {
  background-color: rgba(255, 255, 255, 0.95);
  width: 700px;
  margin: 15px auto;
  padding: 20px 45px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  margin: 0 30px;
  font-size: 20px;
}

.avatar {
  border-radius: 50%;
  border: 5px solid rgba(89, 96, 154, 1);
  width: 150px;
}

.btn-red {
  color: white;
  background-color: #B73535;
  padding: 10px 15px;
  border-radius: 3px;
}

.btn-red:hover {
  color: white;
  opacity: 0.8;
}

#movies img {
  width: 100px;
}


#movies td {
  padding: 10px;
}

#social-links {
  padding-top: 40px;
  padding-bottom: 40px;
}

#social-links li {
  font-size: 30px;
}
